/* Stylesheet to use on Folofl.github.io */

body { 
    /*background-color: #ccccff; */
    /*background-image:url('../images/bg_mint.png');*/
    background-image:url('../images/bg_taro.png');
    /*background-image:url('../images/bg_lilac.png');*/
}

.canvas {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
}

.resume {
    max-width: 800px;
    margin: auto;
}

.category {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

.list {
    display: inline-block;
    width: 530px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: #26004d;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    color: #330066;
}           
    
p {
    margin: 0;
    margin-left: 50px;

    line-height: 100%;
    padding: 0px;

    font-size: 16px;
    font-family: 'Gudea', sans-serif;
}

.indent {text-indent : 50px }

.bold   {font-weight : bold }

.italic {font-style  : italic }

.center {margin-left : 0px;
         text-align  : center; }
        
li {
    margin: 0;
    margin-left: 50px;

    line-height: 100%;
    padding: 0px;

    /*list-style-type: none;*/

    font-size: 16px;
    font-family: 'Gudea', sans-serif;
}

p + ul { margin-top: 2px }

h2 + p { margin-top: -10px }

.img-circle {
    border-radius: 50%;
}

.button {
    border: 2px solid;
    border-color: #734770; 
    border-radius: 4px;
    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: black;

    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;        
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #734770;
    color: white;
}
