/* Stylesheet to use on Folofl.github.io */

/* Rule 1 */
body { 
    /*background-color: #ccccff; */
    /*background-image:url('../images/bg_mint.png');*/
    background-image:url('../images/bg_taro.png');
    /*background-image:url('../images/bg_lilac.png');*/
}

/* Rule 2 & 2.5*/
h1 {
    color: #26004d;
}
h2 {
    color: #330066;
}

/* Rule 3 */
#header {
    font-size: 18px;
    font-family: Helvetica;
}

/* Rule 4 */
p {
    margin: 0;
    line-height: 100%;
    font-size: 16px;
    font-family: "Lucida Bright", Georgia;
    padding: 0px;
}

/* Rule 5 */
p.center {text-align: center;}

/* Rule 6 */
p.indented {text-indent:  50px;}

/* Rule 7 */
.main_info {font-weight: bold;}

/* Rule 8 */
.detail_info {font-style: italic;}

/* Rule 9 */
li {
    list-style-type: none;
    margin: 0;
    line-height: 100%;
    font-size: 16px;
    font-family: "Lucida Bright", Georgia;
    padding: 0px;
}

p + ul {
    margin-top: 2px;
}

h2 + p {
    margin-top: -10px
}

.img-circle {
    border-radius: 50%;
}