/* Stylesheet to use on Folofl.github.io */

body { 
    /* Remember to switch svg inverted color if you change this */
    background-image:url('../images/bg_taro.png');
}

.canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

.titlecard {
    position: relative;          /* to canvas */
    top: 35%;                    /* shifts title card by % of canvas height */
    transform: translateY(-50%); /* shifts title card by % of its own height */
}

.sheet {
    position: relative;
    z-index: 1;

    top: 15px;

    max-width: 900px;

    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;

    background: white;

    box-shadow: 0 4px 8px  0 rgba(0, 0, 0, 0.25), 
                0 6px 20px 0 rgba(0, 0, 0, 0.22);
}

.resume {
    max-width: 800px;

    margin: auto;
}

.category {
    display: inline-block;
    width: 130px;

    vertical-align: top;
}

.list {
    display: inline-block;
    width: 530px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: #26004d;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    color: #330066;
}           
    
p {
    margin: 0;
    margin-left: 50px;

    line-height: 100%;
    padding: 0px;

    font-size: 16px;
    font-family: 'Gudea', sans-serif;
}

.indent {text-indent : 50px   }

.bold   {font-weight : bold   }

.italic {font-style  : italic }

.center {margin-left : 0px;
         text-align  : center;}
        
li {
    margin: 0;
    margin-left: 50px;

    line-height: 100%;
    padding: 0px;

    font-size: 16px;
    font-family: 'Gudea', sans-serif;
}

p + ul { margin-top: 2px }

h2 + p { margin-top: -10px }

.img-circle {
    border-radius: 50%;
}

.button {
    margin: 4px 2px;

    display: inline-block;
    width: 100px;

    border: 2px solid;
    border-color: #734770; 
    border-radius: 4px;

    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: black;
        
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    cursor: pointer;
}

.button:hover {
    background-color: #734770;
    color: white;
}

.floating {
    position: fixed;
    z-index: 99;
}

.icon {
    width: 50px;
    height: 50px;

    padding: 3px 3px;
}

.svg {
    position: relative;          /* to button */
    top: 50%;                    /* shifts svg by % of button height */
    transform: translateY(-50%); /* shifts svg by % of its own height */

    display: inline-block;
    width: 45px;
    height: 45px;

    fill: #734770;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/* On Home button hover, change the color of the SVG inside */
#home_button:hover > #home_button_svg {
    fill: #bb9bc7;
}

@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  #home_button {
    display: none;
  }

  .sheet{
    max-width: none;
  }

  .resume{
    max-width: none;
  }
}

/*@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  #home_button {
    display: none;
  }
}*/
